<!DOCTYPE html>
<html>
    <head>
        <title>loginformarks</title>
        <link rel="stylesheet" href="/css/login.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Hanalei&display=swap" rel="stylesheet">
    </head>
    <body>
        <form class="form" action='/displaymarks' id="form" method="POST">
            <fieldset>
                <legend>
                    Login to view your Marks
                </legend>
                <input type="text" placeholder="Name" name="name"><br><br>
                <input type="number" placeholder="RollNo" name="rollno"><br><br>
                <input type="text" placeholder="DateOfExam" name="dateofexam"><br><br>
                <input type="submit"></input>
            </fieldset>
        </form>
    </body>
</html>